body
{
    margin: 20px;
}

.formy
{
    width: 300px;
}

#downhere
{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 300px;
    bottom: 10px;
    text-align: center;
}